@import url('https://fonts.googleapis.com/css?family=Garamond');

body{
	margin: 0;
	background-color: black;
	color: white;
	float:left;
}

body div {
	color: #feffe0;
	font-size: 19px;
	text-align: justify;
}

#intro {
	width: 50%;
	left: 25%;
	position: relative;
	font-family: Garamond;
}

#intro a{
	text-decoration: none;
	color: #feffe0;
}

#intro #incomp{
	color: grey;
}

.hideme {
	opacity: 0;
}

.quote{
	font-style: oblique;
	text-orientation: center;
}
.lrrr {
	color: #ffb347;
}

.azura{
	color: #b666d2;;
}

.torryn{
	color: #4169e1;;
}

.bp{
	color: #f5f298;;
}

.pan{
	color: #ff6961;;
}

.varum{
	color: #ffD700;
}


a { text-decoration: underline; color: #1959C9; }
a:visited { text-decoration: underline; }
a:hover { text-decoration: underline; }
a:focus { text-decoration: underline; }
a:hover, a:active { text-decoration: underline; }
/* ************************************************************************************** */
/* Cover Photo */
#cover {
	height: 400px;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .75)),url('images/cover.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	margin: auto;
}

#cover-text {
	position: absolute;
	width: 100%;
	text-align: center;
	transform: translateY(50%);
	-webkit-transform: translateY(50%);
	font-family: "Garamond";
	font-size: 4em;
	color: white;
	white-space: nowrap;
}

#cover-subtext {
	position: absolute;
	width: 100%;
	text-align: center;
	transform: translateY(50%);
	font-family: "Garamond";
	font-size: .75em;
	color: white;
	white-space: nowrap;
}

/* ************************************************************************************** */
/* Nav Bar */ 

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: lightgrey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #feffe0;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #feffe0;
  margin: 0;
  color: black;
}

/* ************************************************************************************** */
/* Scroll Progress */ 

/* The progress container (grey background) */
.progress-container {
  width: 20%;
  height: 3px;
  background: #ccc;
  position: sticky;
  text-align: center;
  top: 15%;
  left: 2.5%;
  display: none;
  font-family: Garamond;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
  background: #FFD700;
  width: 0%;
}
